/* .post blockquote {
    border-left:  #a0c8ff solid 4px !important;
    padding-left: 10px !important;
}  */


/* code{
	padding: 16px !important;
	display: block !important;
    overflow-x: auto !important;
    line-height: 1.3em !important;

    border-radius: 5px !important;
} */

/* .post code{
    display: inline-block;
    max-width: 100%;
    padding: 0 .4rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-line-break: anywhere;
    -ms-line-break: anywhere;
    line-break: anywhere;
    font-size: .875rem;
    font-family: Source Code Pro,Menlo,Consolas,Monaco,monospace,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei UI,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #E74C3C;
} */


.post a, .post a::before, .post a::after {
    text-decoration: none;
    color: #a0c8ff;
}


 .post .tags__list .tag__link::before {
    content: "#" !important;
}


/*
.single .content > h2 > .header-mark::before, .single .content > h3 > .header-mark::before, .single .content > h4 > .header-mark::before, .single .content > h5 > .header-mark::before, .single .content > h6 > .header-mark::before {
    content: "|";
    margin-right: 0.3125rem !important;
    color: rgb(45, 150, 189) !important;
}

.single .content a, .single .content a::before, .single .content a::after {
    color: rgb(45, 150, 189) !important;
    text-decoration: none  !important;
} */

mark {
    background-color: white !important;
    z-index: 90;
    box-shadow: inset 0 -10px 0 rgb(243 247 88);
    
}

.header-inner {
    position: relative;
}
.header-inner {
    margin: 0 auto;
    padding: 80px 0 55px;
    box-shadow: rgb(0 0 0 / 8%) 0 4px 4px -4px;
    width: inherit;
    height: 180px;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 565px) { .header-inner { display:none; } }
@media (max-width: 565px) { #post__title { display:block !important; } }


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.2;
    z-index: 0;
}

.page-heading {
    position: relative;
    top:-28px;
    height: inherit;
    width: inherit;
}

.page-heading > h1 {
    position: relative;
    top: -59px;
    font-size: 80px;
    height:80px;
    margin-top: 0 auto;
    font-family: 'Noto sans KR', sans-serif !important;
    color: white;
    text-align: center;
    margin: 58px;
    padding-top: 17px;
    width: inherit-10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
}

