<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <title>[스프링부트 JPA 활용] View 환경 설정 | offetuoso&#39;s Blog</title>


  <meta charset="UTF-8">
  
  <meta name="language" content="en">
  <meta name="description" content="[스프링부트 JPA 활용]  View 환경 설정">
  <meta name="keywords" content="ORM">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="eiictgcSx2RHATKZuDBO51sg4TWwfugKXhNbcHglc9s" />
  <meta name="naver-site-verification" content="43f1272370146d6542d0e06375925b4eff0cd2c7" />
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9349865689631647"
     crossorigin="anonymous"></script>

  
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="[스프링부트 JPA 활용]  View 환경 설정">
  <meta property="og:description" content="[스프링부트 JPA 활용]  View 환경 설정">
     
  
  

  <script src="/js/lib/jquery-3.6.0.js"></script>
  <script src="/js/lib/jquery-ui.js"></script>
  <script src="/js/lib/jquery.mark.min.js"></script>
  <script src="/js/lib/jquery.tmpl.min.js"></script>
  <script src="/js/lib/fuse.js"></script>
  <script src="/js/lib/hangul.js"></script>
  <script src="https://offetuoso.github.io/js/lib/search.js"></script>
  <script src="https://offetuoso.github.io/js/common.js"></script>

  <link type="text/css" rel="stylesheet" href="https://offetuoso.github.io/css/lib/jquery-ui.css"/>
  <link type="text/css" rel="stylesheet" href="https://offetuoso.github.io/css/lib/font-awesome/css/font-awesome.css"/>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="https://offetuoso.github.io/css/common.css"/>
	
  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />


  
  
    
 
  
  
  
  
  
  
    
    <link type="text/css" rel="stylesheet" href="/css/post.min.15ebf1946e251b09a344b466aef7ce435fd25b42f0d9b081e65d4f06e01b0df3.css" integrity="sha256-FevxlG4lGwmjRLRmrvfOQ1/SW0Lw2bCB5l1PBuAbDfM="/>
  
    
    <link type="text/css" rel="stylesheet" href="/css/custom.min.39af44cd0c1b68d7767f6b88a63dd3a7f20261a6fb5690bf47f7a7bb199fc392.css" integrity="sha256-Oa9EzQwbaNd2f2uIpj3Tp/ICYab7VpC/R/enuxmfw5I="/>
  
  
   
   
    

<script type="application/ld+json">
  
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https:\/\/offetuoso.github.io\/"
      },
      "articleSection" : "blog",
      "name" : "[스프링부트 JPA 활용] View 환경 설정",
      "headline" : "[스프링부트 JPA 활용] View 환경 설정",
      "description" : "[스프링부트 JPA 활용]  View 환경 설정",
      "inLanguage" : "en-US",
      "author" : "",
      "creator" : "",
      "publisher": "",
      "accountablePerson" : "",
      "copyrightHolder" : "",
      "copyrightYear" : "2022",
      "datePublished": "2022-04-13 00:00:00 \u002b0000 UTC",
      "dateModified" : "2022-04-13 00:00:00 \u002b0000 UTC",
      "url" : "https:\/\/offetuoso.github.io\/blog\/develop\/backend\/using-springboot-jpa\/view-preferences\/",
      "wordCount" : "483",
      "keywords" : ["ORM", "Blog"]
    }
  
  </script>
</head>

<body>
  <div class="popup search-popup local-search-popup" style="display: none;">
  <div class="local-search-header clearfix">
    <span class="search-icon">
      <i class="fa fa-search"></i>
    </span>
    <span class="popup-btn-close">
      <i class="fa fa-times-circle"></i>
    </span>
    <div class="local-search-input-wrapper">
      <input type="text" id="local-search-input">
    </div>
  </div>
  <div id="local-search-result"></div>
</div>


  <div class="burger__container">
  <div class="burger" aria-controls="navigation" aria-label="Menu">
    <div class="burger__meat burger__meat--1"></div>
    <div class="burger__meat burger__meat--2"></div>
    <div class="burger__meat burger__meat--3"></div>
  </div>
</div>
 
  <nav class="nav" id="navigation">
  <ul class="nav__list">
    
    
      <li>
	        <a  
	        
	        
	        href="/"
    				
	        >welcome !</a>
      </li>
    
      <li>
	        <a  class="active"
	         
	        
	        
	        href="/blog"
    				
	        >blog</a>
      </li>
    
      <li>
	        <a  
	        
	        
	        href="javascript:proceedsearch();"
	       	
	        >search</a>
      </li>
    
  </ul>
</nav>

  
  <main>
    
    

    <div class="flex-wrapper">
      <div class="post__container">
        <div class="post">
          <header class="post__header">
             
            	<div class="header-inner" style="background-image: url('/images/title/bg-using-springboot-jpa.png');">
            
			      <div class="overlay" style="opacity:   0.4 ;"></div>
				<div class="page-heading">
		             <h1 class="post__title" style="color:white;font-size: 28px;">
		            	[스프링부트 JPA 활용] View 환경 설정
		              </h1>
		        </div>	
	        </div>
	        <h1 class="post__title" id="post__title" style="  display:none; ">
		       	[스프링부트 JPA 활용] View 환경 설정
            </h1>		
            <time datetime="2022-04-13 00:00:00 &#43;0000 UTC" class="post__date">2022-04-13</time> 
          </header>
          <article class="post__content">
              
<h1 id="view-환경-설정">View 환경 설정</h1>
<h2 id="thymeleaf">Thymeleaf<a class="anchor" href="#thymeleaf">#</a></h2>
<blockquote>
<p><a href="https://www.thymeleaf.org/">Thymeleaf</a></p>
</blockquote>
<blockquote>
<p>Spring에서도 밀고 있고, 스프링과 많은 기능을 제공하고 있어, Jsp 보다 Thymeleaf를 사용하는 추세입니다.</p>
</blockquote>
<blockquote>
<p>장점은</p>
</blockquote>
<blockquote>
<p>자연 템플릿 (Natural Templates) <br>
마크업을 깨트리지 않고 html 마커 안에 프로그래밍 문법을 넣어 기능을 
개발 할 수 있습니다. WAS 없이도 브라우저만으로도 템플릿의 결과물을 볼 수 있습니다.</p>
</blockquote>
<pre><code>&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th th:text=&quot;#{msgs.headers.name}&quot;&gt;Name&lt;/th&gt;
      &lt;th th:text=&quot;#{msgs.headers.price}&quot;&gt;Price&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr th:each=&quot;prod: ${allProducts}&quot;&gt;
      &lt;td th:text=&quot;${prod.name}&quot;&gt;Oranges&lt;/td&gt;
      &lt;td th:text=&quot;${#numbers.formatDecimal(prod.price, 1, 2)}&quot;&gt;0.99&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
<blockquote>
<p>단점은 마크업을 <br></br> 이런식으로 정확하게 닫아줘야 인식 하는 문제가 있었지만, 3.0에서는 개선되어 <br>로 사용가능합니다.</p>
</blockquote>
<blockquote>
<p>또 기존 JSP 문법과 다르기 때문에 메뉴얼을 참조해 사용해야합니다.</p>
</blockquote>
<blockquote>
<p>최근에는 서버 사이드 뷰 템플릿 보다 리액트나 뷰js 등 좋은 프론트엔드 프레임워크가 있기 때문에 그쪽을 더 많이 사용합니다.</p>
</blockquote>
<h3 id="스프링부트-thymeleaf-viewname-매핑">스프링부트 thymeleaf viewName 매핑<a class="anchor" href="#스프링부트-thymeleaf-viewname-매핑">#</a></h3>
<hr>
<blockquote>
<p>resuources:templates/[viewName].html
기본적으로 스프링부트가 리소스 템플릿즈 밑에 뷰 이름으로 매핑을 합니다.</p>
</blockquote>
<blockquote>
<p>build.gradle</p>
</blockquote>
<pre><code>	...
dependencies {
	implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
	implementation 'org.springframework.boot:spring-boot-starter-thymeleaf' /* 해당 디펜던시 있으면 사용가능 */
	implementation 'org.springframework.boot:spring-boot-starter-web'
	compileOnly 'org.projectlombok:lombok'
	runtimeOnly 'com.h2database:h2'
	annotationProcessor 'org.projectlombok:lombok'
	testImplementation 'org.springframework.boot:spring-boot-starter-test'
}
	...
</code></pre>
<h4 id="tymeleaf-서버사이드-랜더링">Tymeleaf 서버사이드 랜더링<a class="anchor" href="#tymeleaf-서버사이드-랜더링">#</a></h4>
<blockquote>
<p>Controller 생성</p>
</blockquote>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-001.png" alt="contact"></p>
<blockquote>
<p>HelloController.java</p>
</blockquote>
<pre><code>package jpabook.jpashop;

import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;

@Controller
public class HelloController {

    @GetMapping(&quot;hello&quot;) // hello 라는 응답을 받으면
    public String hello(Model model){

        model.addAttribute(&quot;data&quot;, &quot;hello !!&quot;); // addAttribute data의 값에 &quot;hello !!&quot; 를 넣어서

        return &quot;hello&quot;; /* view 라는 페이지를 오픈*/
    }
}

</code></pre>
<blockquote>
<p>view 파일 생성</p>
</blockquote>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-002.png" alt="contact"></p>
<blockquote>
<p>resources &gt;templates 우크릭 &ldquo;hello.html&rdquo; 생성</p>
</blockquote>
<blockquote>
<p>hello.html</p>
</blockquote>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt; &lt;!-- html에 thymeleaf url 추가 --&gt;
&lt;head&gt;
    &lt;title&gt;Hello&lt;/title&gt;
    &lt;meta  http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p th:text=&quot;'안녕하세요. ' + ${data}&quot;&gt; 안녕하세요. 손님&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-003.png" alt="contact"></p>
<blockquote>
<p>해당 파일 경로에서 html을 열어보면 작성한 그대로 실행 되는 것을 확인 할 수 있습니다.</p>
</blockquote>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-004.png" alt="contact"></p>
<blockquote>
<p>페이지 소스보기를 하면 thymeleaf의 문법을 추가한 소스도 볼 수 있습니다.</p>
</blockquote>
<blockquote>
<p>JpashopApplication.java - 애플리케이션 실행</p>
</blockquote>
<blockquote>
<p>console</p>
</blockquote>
<pre><code>  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::                (v2.6.6)
 
</code></pre>
<blockquote>
<p>http://localhost:8080/hello 로 애플리케이션 호출</p>
</blockquote>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-005.png" alt="contact"></p>
<blockquote>
<p>정상적으로 애플리케이션이 화면을 &ldquo;안녕하세요. hello !!&ldquo;로 랜더링 하는것을 확인 할 수 있습니다.</p>
</blockquote>
<h4 id="tymeleaf-정적static-페이지-생성">Tymeleaf 정적(Static) 페이지 생성<a class="anchor" href="#tymeleaf-정적static-페이지-생성">#</a></h4>
<blockquote>
<p>resources &gt; static &gt; index.html 생성</p>
</blockquote>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-006.png" alt="contact"></p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;p&gt;인덱스&lt;/p&gt;
&lt;a href=&quot;/hello&quot;&gt;hello&lt;/a&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-007.png" alt="contact"></p>
<h3 id="thymeleaf-수정시-자동-리로드-되도록-설정하기">thymeleaf 수정시 자동 리로드 되도록 설정하기<a class="anchor" href="#thymeleaf-수정시-자동-리로드-되도록-설정하기">#</a></h3>
<hr>
<blockquote>
<p>서버사이드 뷰 템플릿을 사용하다 보면 간단 텍스트 수정을 하여도 적용을 하기 위해서는 서버를 재기동 해야하는 불편함이 있습니다.</p>
</blockquote>
<blockquote>
<p>이러한 불편함을 해결하기 위해서 필요한 라이브러리가 있습니다.</p>
</blockquote>
<blockquote>
<p>build.gradle</p>
</blockquote>
<pre><code>...
dependencies {
	...
	developmentOnly(&quot;org.springframework.boot:spring-boot-devtools&quot;)
	...
}
...
</code></pre>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-008.png" alt="contact"></p>
<blockquote>
<p>dependency 추가후 gradle 리로딩</p>
</blockquote>
<blockquote>
<p>이 라이브러리가 개발할때 많은 도와주는 기능을 하는데, 캐시 같은 것들을 제거하고 리로딩이 되게 지원을 합니다.</p>
</blockquote>
<blockquote>
<p>Controller에서 return 하는 viewName을 트리거로 서버가 리로딩 되지만, thymeleaf의 화면이 수정되었을때 리로딩되는 것을 원하기 때문에 좀더 찾아보았습니다.</p>
</blockquote>
<blockquote>
<p>resources/application.properties</p>
</blockquote>
<pre><code>spring.devtools.restart.enabled=true
spring.devtools.restart.poll-interval=2s
spring.devtools.restart.quiet-period=1s
spring.thymeleaf.cache=false
</code></pre>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-009.png" alt="contact"></p>
<p><img src="/images/develop/backend/using-springboot-jpa/view-preferences/img-010.png" alt="contact"></p>
<blockquote>
<p>애플리케이션 업데이트 정책 실행 중 옵션을 통해 thymeleaf 수정 시 서버가 리로드 되는 것을 사용할 수 있었습니다. <br></p>
</blockquote>
<blockquote>
<p>현재 IDEA Ultimate 사용중이라 Community도 가능한지는 확인하지 못했습니다.</p>
</blockquote>
<blockquote>
<ul>
<li><a href="https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8-JPA-%ED%99%9C%EC%9A%A9-1">실전! 스프링 부트와 JPA 활용1 - 웹 애플리케이션 개발 - 김영한</a></li>
</ul>
</blockquote>


              
          </article>
          
          
            
            	 

<ul class="tags__list">
    
    
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/%EA%B9%80%EC%98%81%ED%95%9C/">김영한</a>
    </li>
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/jpa/">JPA</a>
    </li>
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/orm/">ORM</a>
    </li>
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/java/">Java</a>
    </li>
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/spring/">Spring</a>
    </li>
    <li class="tag__item">
        <a class="tag__link" href="https://offetuoso.github.io/tags/%EC%9D%B8%ED%94%84%EB%9F%B0/">인프런</a>
    </li></ul>

 
		          <div class="pagination">
  
    <a class="pagination__item" href="https://offetuoso.github.io/blog/develop/backend/using-springboot-jpa/new-project-setting/">
        <span class="pagination__label">Previous Post</span>
        <span class="pagination__title">[스프링부트 JPA 활용] 프로젝트 생성</span>
    </a>
  

  
</div>

		          <script src="https://utteranc.es/client.js"
        repo="offetuoso/offetuoso.github.io"
        issue-term="pathname"
        label="✨💬✨"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
		
		          <footer class="post__footer">
		            


<div class="social-icons">
  
     
    
      <a class="social-icons__link" rel="me" title="GitHub"
         href="https://github.com/offetuoso"
         target="_blank" rel="noopener">
        <div class="social-icons__icon icon_github" style="background-image: url('https://offetuoso.github.io/svg/github.svg')"></div>
      </a>
    
  
     
    
      <a class="social-icons__link" rel="me" title="Email"
         href="mailto:kihun.oh.developer@gmail.com,offetuoso@gmail.com,offetuoso@naver.com"
         target="_blank" rel="noopener">
        <div class="social-icons__icon icon_email" style="background-image: url('https://offetuoso.github.io/svg/email.svg')"></div>
      </a>
    
  
     
    
      <a class="social-icons__link" rel="me" title="Instagram"
         href="https://instagram.com/offetuoso"
         target="_blank" rel="noopener">
        <div class="social-icons__icon icon_instagram" style="background-image: url('https://offetuoso.github.io/svg/instagram.svg')"></div>
      </a>
    
  
     
    
      <a class="social-icons__link" rel="me" title="search"
         href="#"
         target="_blank" rel="noopener">
        <div class="social-icons__icon icon_search" style="background-image: url('https://offetuoso.github.io/svg/search.svg')"></div>
      </a>
    
     
</div>

		            <p>© 2021</p>
		          </footer>
            
            
            
          
         
          
          
          </div>
      </div>
      
      <div class="toc-container">
          <div class="toc-post-title">[스프링부트 JPA 활용] View 환경 설정</div> 
        <nav id="TableOfContents">
  <ul>
    <li><a href="#thymeleaf">Thymeleaf</a>
      <ul>
        <li><a href="#스프링부트-thymeleaf-viewname-매핑">스프링부트 thymeleaf viewName 매핑</a></li>
        <li><a href="#thymeleaf-수정시-자동-리로드-되도록-설정하기">thymeleaf 수정시 자동 리로드 되도록 설정하기</a></li>
      </ul>
    </li>
  </ul>
</nav>
      </div>
      
    </div>
    

  </main>

   

  
  <script src="/js/index.min.f22abd4553ae420dba1bb2319da56f1d71ca94b6ce33b89dd67c0021e792b21c.js" integrity="sha256-8iq9RVOuQg26G7IxnaVvHXHKlLbOM7id1nwAIeeSshw=" crossorigin="anonymous"></script>
  
  
  <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>

  
  <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://unpkg.com/prismjs@1.20.0/components/"></script>

  
    <script src="/js/table-of-contents.js"></script>
  


  
  
<script id="search-result-template" type="text/x-js-template">
    <article class="list__item post search-result-list" id="summary-${key}">
      <header class="list__header">
        <h3 class="list__title post__title ">
          <a href="${link}" rel="bookmark">
            ${title} 
          </a>         
        </h3>
        <div class="list__meta meta">
          <div class="meta__item-categories meta__item">
            <svg class="meta__icon icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L2 16c-1-1-1.4-2-1.4-2S0 12.5 0 11V3C0 1.5.8.8.8.8S1.5 0 3 0h8c1.5 0 3 .6 3 .6S15 1 16 2l15 15s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
            <span class="meta__text">
              ${ isset tags } ${tags} ${ end }
            </span>
          </div>
        </div>
      </header>
      <div class="content list__excerpt post__content clearfix">
        ${snippet}
      </div>
    </article>
</script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9349865689631647"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9349865689631647"
     data-ad-slot="1516247131"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>




</body>

</html>
